# Database configuration
MONGO_DB_URI = "mongodb+srv://<username>:<password>@cluster0.mongodb.net/<dbname>?retryWrites=true&w=majority"
MONGO_DB_NAME = "<dbname>"

# Server configuration
PORT = "your port number"